@model DagemovMVC.Data.Entities.Client
@{
    ViewData["Title"] = "Make Client";
}
<div class="row bg-dark text-white">
    <h1>Make Client</h1>
    <div class="col-4 bg-dark text-white">
        <form asp-action="Create">

            <input type="hidden" asp-for="Phones" />
            <input type="hidden" asp-for="Adresses" />
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_Client" />
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success mt">Back to List</a>
            </div>
        </form>
    </div>


</div>