@model DagemovView.Data.Entities.Country;
@{
    ViewData["Title"] = "Deleted " + Model.Name;
}
<h1>Country To Delete @Model.Name</h1>

<h3>Are you really sure about it?</h3>
<div>
    <div clas="row">    
        <form asp-action="CountryDelete">

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="States" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_CountryDetails" />

            <div class="form-group mt-3">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-success mt">Back</a>
            </div>

        </form>
    </div>
</div>