@model DagemovView.Data.Entities.Country;
@{
    ViewData["Title"] = "Edit " + @Model.Name;
}
<h1>Editing @Model.Name</h1>

<div>
    <div class="row">
              
        <form asp-action="CountryEdit">

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="States" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <partial name="_CountryData" />

            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success mt-2">Back to List</a>
            </div>

        </form>
    </div>
</div>