@model DagemovView.Models.Address.AddState;
@{
    ViewData["Title"] = "AddState";
}

<h1>Create</h1>

<h4>State</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateState">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="CountryId" />
            <!--Call back Parcial view, always Create and edit need the parcial view is =-->
            <partial name="_StateData" />

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="CountryDetails" asp-route-id="@Model.CountryId" class="btn btn-success mt">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}