@model DagemovView.Data.Entities.Adress;

<div>
    <h1>Create new Adress</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="CreateAddress">
                <input type="hidden" asp-for="Countries" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--Call back Parcial view, always Create and edit need the parcial view is =-->
                <partial name="_CountryData" />

                <div class="form-group mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-success mt">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
