@model DagemovView.Data.Entities.Country
@{
    ViewData["Title"] = "Create new Country";
}
<div>
    <h1>Create new Country</h1>
    <div class="row">
        <form asp-action="CreateCountry">
            <input type="hidden" asp-for="States" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_CountryData" />
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success mt">Back</a>
            </div>
        </form>
        
    </div>
</div>