@model DagemovView.Models.Address.AddState;
@{
    ViewData["Title"] = "EditState " + @Model.Name;
}
<div>
    <div class="row">
        <form asp-action="StateEdit">
            <input type="hidden" asp-for="CountryId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_StateData" />
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="CountryDetails" asp-route-id="@Model.CountryId"  class="btn btn-success mt">Back</a>
            </div>
        </form>
    </div>
</div>
